<h1>{{this.title}}</h1>
<hr />


<p>
<h4>Author:</h4> {{this.author}}</p>
<p>
<h4>ID:</h4> {{this._id}}</p>
<p>
<h4>Description:</h4> {{this.description}}</p>
<P>
<h4>Rating:</h4> {{this.rating}}</P>

<a href="/books/{{this._id}}/edit">Edit</a>

<hr />

<a href="/books">Back</a>